<form action="/user" method="post">
    <label>Your Name:</label>
        <input type="text" value="name" name="name">
    <label>Dojo Location:</label>
        <select name="location" value="location">
            <option value="location1">Location1</option>
            <option value="location2">Location2</option>
            <option value="location3">Location3</option>
        </select>
    <label>Favorite Language:</label>
        <select name="language" value="location">
            <option value="language1">Language1</option>
            <option value="language2">Language2</option>
            <option value="language3">Language3</option>
        </select>
        <input type="submit" value="submit">
</form>