<h2>Submitted Information</h2>
    <p>Name: <%= users.name %></p>
    <p>Dojo Location: <%= users.location %></p>
    <p>Favorite Language: <%= users.language %></p>
    <form action="/goback" method="post">
        <input type="submit" value="go back">
    </form>